.main
  .main__chat-main__group-info
    .main__chat-main__group-info-leftbox
      .main__chat-main__group-info-leftbox-currentbox
        test
      .main__chat-main__group-info-leftbox-minibox
        .main__chat-main__group-info-leftbox-minibox-
          Member : 
        .main__chat-main__group-info-leftbox-minibox-namebox
          &nbsp
          masa
    = link_to "Edit","#",class: "main__chat-main__group-info-rightbox"
  .main__chat-main__message-list

    .main__chat-main__message-list-box
      = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'