.side-bar
  .side
    .side__side-bar_user-name
      .side__side-bar_user-name-box
        .side__side-bar_user-name-box-name
          = current_user.name
        .side__side-bar_user-name-box-icon
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'icon')
            %span<>
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
            

  .side-group
    - current_user.groups.each do |group|
      .side-group-main
        = link_to group_messages_path(group) do
          .side-group-main-name 
            = group.name
          .side-group-main-message
            = group.show_last_message
  